<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <!--header section start -->
        <%- include('../partials/header') %>
        <!--header section end -->

        <!--dashboard product section start -->
        <%- include('../layouts/product-update-section') %>
        <!--dashboard product section end -->

        <!--footer section start -->
        <%- include('../partials/footer') %>
        <!--footer section end -->

        <!--copyright section start -->
        <%- include('../partials/copyright') %>
        <!--copyright section end -->

    </body>

</html>